@use '../../../common/styles/colors';
@use '../../../common/styles/fonts';
@use '../../../common/styles/mixins';

.box {
  width: 72%;
  margin-bottom: 8px;
  overflow-y: auto;
}

.title {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;

  @include fonts.bigText($font-size: 33px);
}

.connections {
  margin-bottom: 8px;
  background: colors.$blue-light;
  padding: 40px 29px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.connection {
  width: 29%;
  margin: 16px;
}
