@use '../../common/styles/colors';
@use '../../common/styles/mixins';

.page {
  margin: 20px 0px 35px 0px;
  gap: 10px;
  @extend %flex-column-center;
}

.socials {
  width: 100%;
  gap: 26px;

  @extend %flex-row;
}
