.list {
  margin-top: 106px;
  margin-left: 50px;
  background-color: #ebedf3;
  border-radius: 30px;
  position: relative;

  th {
    box-shadow: none !important;
    border: none !important;
  }

  td {
    border: none !important;
  }
}

.greet {
  position: absolute;
  top: -138px;
  left: 0;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.listRow {
  background-color: #ebedf3;
  padding-left: 15px;
  padding-right: 15px;

  th {
    background-color: #ebedf3 !important;
    color: #b5b7c0;
    border: transparent;
    padding-left: 15px;
  }
}

.listFooter {
  position: absolute;
  bottom: -40px;
  left: 30px;
  color: #b5b7c0;
}
