@use '../../../common/styles/media.scss';

.icon {
  display: block;
  height: 50px;
  width: 50px;
  overflow: hidden;

  @include media.media-s {
    width: 40px;
    height: 40px;
  }

  &.rnd {
    border-radius: 50%;
  }

  &.sqr {
    width: 40px;
    height: 40px;
  }

  &.in {
    &.sqr {
      background: url('/images/Icon/in-sqr.svg') no-repeat center center / cover;
    }
    &.rnd {
      background: url('/images/Icon/in.svg') no-repeat center center / cover;
    }
  }

  &.fb {
    background: url('/images/Icon/fb.svg') no-repeat center center / cover;
  }

  &.inst {
    &.sqr {
      background: url('/images/Icon/inst-sqr.svg') no-repeat center center / cover;
    }
    &.rnd {
      background: url('/images/Icon/inst.svg') no-repeat center center / cover;
    }
  }

  &.tw {
    background: url('/images/Icon/tw.svg') no-repeat center center / cover;
  }

  &.git {
    background: url('/images/Icon/git.svg') no-repeat center center / cover;
  }

  &.be {
    background: url('/images/Icon/be.svg') no-repeat center center / cover;
  }
}
