@use '../../common/styles/colors';
@use '../../common/styles/fonts';
@use '../../common/styles/mixins';

.connections {
  width: 100%;
}

.navLink {
  display: block;
  margin-left: auto;
  text-decoration: none;

  @include fonts.mainText($font-size: 13px);
}
