@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/mixins';
@use '../../styles/media';

@mixin disabled-styles {
  border: none;
  cursor: default;
  pointer-events: none;
  background-color: colors.$white-normal-hover;
  color: colors.$white-dark-active;
}

@mixin regularBtn {
  cursor: pointer;
  width: fit-content;
  @extend %flex-center;
}

.imgButton {
  background: transparent;
  border: none;
  padding: 0px;

  @include regularBtn;
}

.button {
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  white-space: nowrap;

  @include regularBtn;
  @include media.media-l {
    padding: 0 20px;
  }

  &.normal {
    height: 64px;
    min-width: 150px;
    @include fonts.buttonText;

    @include media.media-l {
      height: 60px;
      min-width: 120px;
    }

    @include media.media-s {
      height: 58px;
      min-width: 100px;
    }
  }

  &.medium {
    height: 48px;
    min-width: 156px;
    @include fonts.buttonText($font-size: 1rem);

    @include media.media-l {
      height: 46px;
      min-width: 120px;
    }

    @include media.media-s {
      height: 42px;
    }
  }

  &.small {
    height: 48px;
    min-width: 120px;
    @include fonts.buttonText($font-size: 1rem);

    @include media.media-l {
      height: 46px;
      min-width: 100px;
    }

    @include media.media-s {
      height: 42px;
    }
  }

  &.orange {
    background-color: colors.$orange-normal;

    &:disabled {
      @include disabled-styles;
    }

    &:hover {
      background-color: colors.$orange-normal-hover;
    }

    &:active {
      background-color: colors.$orange-normal-active;
    }
  }

  &.orangeLight {
    background-color: colors.$orange-light;

    &:disabled {
      @include disabled-styles;
    }

    &:hover {
      background-color: colors.$orange-light-hover;
    }

    &:active {
      background-color: colors.$orange-light-active;
    }
  }

  &.hollow {
    color: colors.$orange-normal;
    border: 3px solid colors.$orange-normal;
    background-color: transparent;

    &:disabled {
      @include disabled-styles;
    }

    &:hover {
      color: colors.$orange-normal-hover;
      border: 3px solid colors.$orange-normal-hover;
    }

    &:active {
      color: colors.$orange-normal-active;
      border: 3px solid colors.$orange-normal-active;
    }
  }
}
