@use '../../../common/styles/colors';
@use '../../../common/styles/media';
@use '../../../common/styles/fonts';

.form {
  padding: 40px 60px;
  width: 738px;
  height: 100%;

  display: inline-flex;
  flex-direction: column;

  @media (max-width: 896px) {
    padding: 35px;
  }
}

.formRow {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;

  @include media.media-s {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.formButton {
  margin-top: 26px;
}

.input {
  margin-top: 8px;
}

.formRow {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 18px;
}

.textarea {
  display: block;
  width: 100%;

  padding: 12px !important;

  width: 100%;
  height: 120px;
  background-color: colors.$white;
  border: 1px solid colors.$grey-light;
  border-radius: 8px;
  padding: 0 0.75rem;
  appearance: none;
  outline: none;

  @include fonts.mainText;

  &::placeholder {
    color: colors.$grey;
  }
  &:focus,
  &:active,
  &:focus-visible {
    border-color: colors.$focus;
  }
}
