@use '../../../common/styles/mixins';
@use '../../../common/styles/fonts';
@use '../../../common/styles/media';
@use '../../../common/styles/colors';

@mixin margin-right {
  margin-right: 3.5rem;

  @include media.media-xl {
    margin-right: 2rem;
  }
  @include media.media-s {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.dropdown {
  position: relative;
  @include margin-right;
}

.link {
  @extend %flex-center;
  @include fonts.navText;
  cursor: pointer;
  text-decoration: none;

  &.active,
  &.pending {
    text-decoration: underline;
  }
}

.options {
  position: absolute;
  top: 30px;
  background: colors.$blue-normal;
  box-shadow: 0 2px 2px colors.$white-darker;
  border-radius: 0px 2px 2px 0px;
  overflow: hidden;
  z-index: 10;
  transition: opacity 300ms ease;
  opacity: 0;

  &.entering {
    opacity: 0;
  }
  &.entered {
    opacity: 1;
  }
  &.exiting {
    opacity: 1;
  }
  &.exited {
    opacity: 0;
  }
}

.option {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  text-align: left;
  color: colors.$white;

  &:hover {
    background: colors.$orange-normal-hover;
  }
}
