@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/media.scss';
@use '../../styles/mixins.scss';

.sideBlock {
  position: relative;
  @extend %flex-column;
  align-items: center;
  flex-shrink: 0;
  width: 300px;
  min-height: 100px;
  height: fit-content;
  border-radius: 15px;
  background-color: colors.$blue-light-hover;

  &.small {
    padding: 26px 16px;
  }

  &.normal {
    padding: 26px;
  }
}

.title {
  margin-bottom: 16px;
  @include fonts.headingText;
}

.subtitle {
  @include fonts.hintText;

  @include media.media-l {
    font-size: 13px;
  }
}

.title + .subtitle {
  margin-bottom: 1.625rem;

  &::before {
    content: '';
    display: block;
    margin-top: -10px; /* negate the margin-bottom of title */
  }
}

.link {
  display: block;
  font-size: 13px;
  margin-top: 1rem;
  margin-left: auto;
  padding: 0px 5px;

  &:hover {
    text-decoration: underline;
  }
}
