@use '../../styles/styles';

.infoSection {
  margin-bottom: 10px;
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  .emailField {
    font-weight: bold;
  }
}

.messageBox {
  margin-bottom: 10px;
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .messageField {
    font-weight: normal;
  }
}

.applicantBtn {
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #FFF5E7;
  color: styles.$black;
}
