@use '../../common/styles/colors';
@use '../../common/styles/mixins';

.page {
  margin: 20px 60px 80px 60px;
  gap: 10px;
  @extend %flex-column-center;
}

.socials {
  width: 100%;
  max-height: 1000px;

  @extend %flex-row;
  gap: 26px;

}
