// General
$black: #000000;
$white: #ffffff;

// BLUE
$blue-normal: #374983;
$blue-normal-hover: #324276;
$blue-normal-active: #2c3a69;

$blue-light: #ebedf3;
$blue-light-hover: #e1e4ec;
$blue-light-active: #c1c7d9;

$blue-dark: #293762;
$blue-dark-hover: #212c4f;
$blue-dark-active: #19213b;
$blue-darker: #131a2e;

// ORANGE
$orange-normal: #fcbc5c;
$orange-normal-hover: #e3a953;
$orange-normal-active: #ca964a;

$orange-light: #fff8ef;
$orange-light-hover: #fff5e7;
$orange-light-active: #feeacc;

$orange-dark: #bd8d45;
$orange-dark-hover: #977137;
$orange-dark-active: #715529;
$orange-darker: #584220;

// WHITE
$white-normal: #f3fbfb;
$white-normal-hover: #dbe2e2;
$white-normal-active: #c2c9c9;

$white-light: #feffff;
$white-light-hover: #fdfefe;
$white-light-active: #fbfefe;

$white-dark: #b6bcbc;
$white-dark-hover: #929797;
$white-dark-active: #6d7171;
$white-darker: #555858;
