# Port number
PORT=3800

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30

# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10

# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# DB production
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database
DB_HOST=host
DB_CONNECTION=connection

# DB development
DB_USERNAME_DEV=username
DB_PASSWORD_DEV=password
DB_DATABASE_DEV=database
DB_HOST_DEV=host
DB_CONNECTION_DEV=connection

# Firebase
FIREBASE_PRIVATE_KEY="private_key"
FIREBASE_PRIVATE_KEY_ID="private_id"
FIREBASE_CLIENT_EMAIL="email"
FIREBASE_CLIENT_ID="client_id"
FIREBASE_PROJECT_ID="project"
