@use '../../common/styles/colors';
@use '../../common/styles/fonts';
@use '../../common/styles/mixins';

.events {
  @extend %flex-column;
  gap: 1rem;
  width: 100%;
}

.title {
  margin: 1rem 0rem;
  @include fonts.headingText;
}

.buttonWrapper {
  margin-top: 1rem;
}