@use '../../../common/styles/colors';
@use '../../../common/styles/fonts';
@use '../../../common/styles/mixins';
@use '../../../common/styles/media';

.inner {
  gap: 20px;
  @extend %flex-space-between;

  @include media.media-s {
    flex-direction: column;
  }
}

.part {
  max-width: 50%;
  width: 100%;
  z-index: 1;

  @include media.media-s {
    max-width: 100%;
    order: 2;
  }

  &:nth-child(2) {
    z-index: 0;

    @include media.media-s {
      order: 1;
    }
  }
}

.heading {
  margin-bottom: 1rem;

  @include media.media-s {
    text-align: center;
  }
}

.subheading {
  margin-bottom: 1.6rem;

  @include media.media-s {
    text-align: center;
  }
}

.text {
  max-width: 95%;
  margin-bottom: 50px;
  @include fonts.mainText;

  @include media.media-s {
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.buttonHero {
  @include media.media-s {
    margin: 0 auto;
  }
}
