@use '../../../common/styles/colors';
@use '../../../common/styles/fonts';
@use '../../../common/styles/mixins';

.events {
    background: colors.$blue-light;
    width: 26%;
    min-height: 100px;
    padding: 26px;
    border-radius: 15px;

    @include fonts.bigText;

    @extend %flex-column-left-center;
}
