@use '../../common/styles/colors';

.container {
  background-color: colors.$orange-normal;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  position: relative;
}

.backgroundImage {
  border: 2px solid colors.$white;
  background-size: contain;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 2px solid colors.$orange-light;
  position: absolute;
  top: 150px;
  left: 40px;
  z-index: 1;
}

.imageInput {
  display: none;
}

.editIcon {
  position: absolute;
  bottom: 26px;
  right: 26px;
}
