@use '../../common/styles/colors';
@use '../../common/styles/mixins';
@use '../../common/styles/fonts';

.footer {
  background: url('/images/Footer/footer-bg.png') no-repeat 0 0 / cover;
  margin-top: auto;
  padding: 80px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7.5%;
  position: relative;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include fonts.mainText($font-size: 19px, $color: colors.$white);
  line-height: 1.25;
}

.heading {
  @extend %reset-h;
  font-weight: bold;
  margin-bottom: 16px;
}

.list {
  @extend %reset-list;
}

.listColumn {
  text-align: center;
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.link {
  color: colors.$white;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}

.socials {
  display: flex;
  gap: 16px;
  margin-top: auto;
  position: absolute;
  top: -25px;
  left: 60px;
  z-index: 10;
}

.upButton {
  position: absolute;
  top: -25px;
  right: 60px;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  background: url('/images/Icon/button-up.svg') no-repeat center center / cover;
  z-index: 10;
}
