.icon {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;

  &.in {
    background: url('/images/Icon/in.svg') no-repeat center center / cover;
  }

  &.fb {
    background: url('/images/Icon/fb.svg') no-repeat center center / cover;
  }

  &.inst {
    background: url('/images/Icon/inst.svg') no-repeat center center / cover;
  }
}
