@use '../../common/styles/colors';
@use '../../common/styles/mixins';
@use '../../common/styles/media';

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: colors.$blue-normal;
  // overflow: hidden;
}

.slide {
  flex: 0 0 auto;
  opacity: 0;
  width: 100%;

  &.active {
    opacity: 1;
  }
}

.slides {
  display: flex;
  @include mixins.common-transition;
}

.buttonsWrapper {
  margin-top: 1.6rem;
  @extend %flex-space-between;
}

.button {
  --size: 40px;

  bottom: 0;
  border: none;
  padding: 0;
  appearance: none;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  @include media.media-l {
    --size: 30px;
  }
  @include media.media-xs {
    --size: 20px;
  }

  &.left {
    background: url('/images/Icon/arrow-right.svg') no-repeat center center / cover;
    transform: rotate(180deg);
  }

  &.right {
    background: url('/images/Icon/arrow-right.svg') no-repeat center center / cover;
  }
}

.dots {
  display: flex;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: colors.$grey-light;
  margin-right: 8px;
  @include mixins.common-transition;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    width: 24px;
    border-radius: 33px;
    background-color: colors.$orange-normal;
  }
}
