@use '../../../../common/styles/fonts';
@use '../../../../common/styles/mixins';
@use '../../../../common/styles/colors';

.modalWindow {
	position: relative;
  padding: 1.5rem;

  @extend %flex-column;
  gap: 16px;
}

.title {
	@extend %flex-column-center;
	@include fonts.bigText($font-size: 30px, $font-weight: 700);
}

.closeBtn {
	position: absolute;
	top: 26px;
	right: 26px;
	cursor: pointer;
}

.userInfo{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	// @extend %flex-left-center;
	gap: 16px;
}

.image {
  border: 2px solid colors.$orange-normal;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.name {
	@include fonts.mainText;
}

.input {
	position: relative;
  background: colors.$white;
  width: 650px;
  height: 150px;
  padding: 12px;
  border: 1px solid #d5d4dc;
  border-radius: 5px;
  cursor: pointer;

  @include fonts.mainText;
}

.input::placeholder {
	position: absolute;
  top: 12px;
  left: 12px;
}
