@use '../../../common/styles/colors';
@use '../../../common/styles/mixins';

.container {
  background-color: colors.$orange-normal;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  position: relative;
}

.backgroundImage {
  border: 2px solid colors.$white;
  background: none no-repeat;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.cover {
    background-size: cover;
    background-position: center center;
  }

  &.contain {
    background-size: contain;
    background-position: center top;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

.profileImage {
  position: absolute;
  top: 150px;
  left: 40px;
  z-index: 1;
}

.imageInput {
  @extend %visually-hidden;
}

.editIcon {
  position: absolute;
  bottom: 26px;
  right: 26px;
}
