@use '../../common/styles/colors';
@use '../../common/styles/mixins';

.page {
  margin: 20px 0px 55px 0px;
  gap: 10px;
  @extend %flex-column-center;
}

.socials {
  @extend %flex-row;
  gap: 26px;
}
