@use '../../common/styles/colors';
@use '../../common/styles/fonts';
@use '../../common/styles/mixins';

.form {
  @extend %flex-center;
  flex-direction: column;
  row-gap: 16px;
}

.formTitle {
  margin-bottom: 10px;
  @include fonts.mainText($font-size: 27.5px, $font-weight: 700, $line-height: 41px, $color: colors.$black);
}

.input {
  width: 280px;
}

.formButton {
  margin: 10px 0;
}

.formBottomPart {
  display: flex;
  flex-direction: column;
}

.formBottomText {
  @extend %reset-p;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.formBottomLink {
  text-decoration: underline;
  @include fonts.mainText($font-weight: 400);
}
