@use '../../../common/styles/fonts';
@use '../../../common/styles/mixins';
@use '../../../common/styles/colors';

.box {
  background: colors.$blue-light;
  border-radius: 15px;
  width: 100%;
  min-height: 216px;
  padding: 26px;
  position: relative;

  @extend %flex-column-left;
  gap: 16px;
}

.userInfo {
  @extend %flex-row-left;
}

.image {
  margin-right: 20px;
}

.info {
  @extend %flex-column-left;
}

.name {
  @include fonts.weightText;

  &:hover {
    text-decoration: underline;
  }
}

.position {
  @include fonts.hintText($font-size: 16px);
}

.date {
  @include fonts.hintText($font-size: 16px);
}

.content {
  border-bottom: 1px solid colors.$blue-dark;
  padding-bottom: 16px;

  @include fonts.mainText;
}

.reactions {
  @extend %flex-row-left;
  justify-content: space-between;
}

.repostCommentBtn {
  @extend %flex-row-left;
  gap: 0.5rem;
  margin-bottom: 0px;
}

.setting {
  position: absolute;
  top: 10px;
  right: 25px;
}

.commentBox {
  display: flex;
  align-items: center;
}

.commentImage {
  border: 2px solid colors.$orange-normal;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 13px;
}

.comment {
  flex: 1;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid colors.$grey-light;
  padding: 12px;
  background-color: colors.$white;
  resize: none;
  margin-right: 1rem;
}

.quantity {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: inherit;
}
