@use '../../common/styles/colors';
@use '../../common/styles/media';

@mixin margin-right {
  margin-right: 3.5rem;

  @include media.media-xl {
    margin-right: 2rem;
  }
  @include media.media-l {
    margin-right: 1.6rem;
  }
  @include media.media-s {
    margin-right: 0;
  }
}

.header {
  background-color: colors.$blue-normal;
  padding: 14px 0;
  position: relative;

  @include media.media-l {
    padding: 28px 0;
  }

  @include media.media-s {
    padding: 16px 0;
  }
}

.wrapper {
  display: flex;
  align-items: center;

  @include media.media-l {
    justify-content: space-between;
  }
}

.logo {
  display: block;
  // background: url('../../images/Header/logo.svg') no-repeat 0 0 / contain;
  background: url('../../images/Header/logo.svg') no-repeat 0 0 / contain;
  width: 70px;
  height: 70px;
  flex: 0 0 auto;

  @include margin-right;

  @include media.media-l {
    width: 60px;
    height: 60px;
  }

  @include media.media-s {
    width: 24px;
    height: 24px;
  }
}

.icons {
  display: none;

  @include media.media-s {
    position: relative;
    top: 50%;
    display: flex;
    gap: 1rem;
    padding: 5px 0;

    > a, button {
      height: 25px !important;
    }
  }

}