@use '../../common/styles/colors';
@use '../../common/styles/fonts';
@use '../../common/styles/mixins';

.header {
  background-color: colors.$blue-normal;
  padding: 14px 60px;
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  background: url('../../images/Header/logo.svg') no-repeat 0 0 / contain;
  text-decoration: none;
  margin-right: 60px;
  width: 70px;
  height: 70px;
}

.nav {
  display: flex;
}

.navLink {
  @include fonts.navText;
  margin-right: 60px;
  text-decoration: none;

  &.active,
  &.pending {
    text-decoration: underline;
  }
}

.buttons {
  margin-left: auto;
  @extend %flex-left-center;
}

.navButton {
  margin-right: 16px;
}
