@use '../../../common/styles/colors';
@use '../../../common/styles/fonts';
@use '../../../common/styles/mixins';

.connection {
  display: flex;
  padding-bottom: 16px;
}

.image {
  border: 2px solid colors.$orange-normal;
  width: 50px;
  height: 50px;
  margin-right: 3px;
  border-radius: 50%;
}

.info {
  margin-bottom: 16px;
  margin-left: 16px;
  @extend %flex-column;
}

.position {
  @include fonts.hintText($font-size: 16px);
}
