@use '../../../common/styles/colors';
@use '../../../common/styles/fonts';
@use '../../../common/styles/mixins';
@use '../../../common/styles/media';

.connection {
  display: flex;
  position: relative;
  width: 268px;
  height: 111px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media (max-width: 991px) {
    width: 100%;
  }

  a {
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);

    @include media.media-s {
      left: auto;
      transform: none;
      right: 0;
    }
  }
}

.image {
  margin-right: 15px;
}

.info {
  display: flex;
  align-items: center;
  height: 50px;
}

.infoText {
  > span {
    &:first-child{
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }

  @extend %flex-column;
}

.position {
  @include fonts.hintText($font-size: 16px);
  line-height: 24px;
}
