@use '../../../common/styles/colors';
@use '../../../common/styles/fonts';
@use '../../../common/styles/mixins';
@use '../../../common/styles/colors';

.box {
  margin-bottom: 16px;
  width: 100%;

  @extend %flex-column;
  gap: 15px;
}

.connection {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.image {
  margin-right: 1rem;
}

.info {
  @extend %flex-column;
}

.position {
  margin-bottom: 0.8rem;
  @include fonts.hintText($font-size: 16px);
}

.singleBtn {
  @extend %flex-center;
}

.twoBtns {
  margin-left: 5px;
  margin-right: 5px;
  @extend %flex-space-between;
}
