@use '../../styles/colors';

.button {
  width: fit-content;
  padding: 0 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    height: inherit;
    width: inherit;
    fill: inherit;

    path {
      fill: inherit;
    }
  }

  &.small {
    min-width: 15px;
    height: 15px;
  }

  &.medium {
    min-width: 20px;
    height: 20px;
  }

  &.big {
    min-width: 38px;
    height: 32px;
  }

  &.wide {
    min-width: 33px;
    height: 20px;
  }

  &.black {
    fill: colors.$black;
  }

  &.orange {
    fill: colors.$orange-normal;
  }

  &.orangeLight {
    fill: colors.$orange-normal-hover;
  }

  &.grey {
    fill: colors.$white-dark-active;
  }

  &.green {
    fill: colors.$green-dark;
  }
}

.label {
  font-size: 0;
  line-height: 0;
}
