@use '../../../common/styles/colors';
@use '../../../common/styles/mixins';
@use '../../../common/styles/media';
@use '../../../common/styles/fonts';

.block {
  display: flex;
  justify-content: center;
  background-color: colors.$blue-light;
  border-radius: 15px;
  padding: 60px 16px;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }

  @include media.media-s {
    padding: 2rem 0;
  }
}

.form {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  padding: 0 1rem;
  @extend %flex-center;
  flex-direction: column;
}

.formRow {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;

  @include media.media-s {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }
}

.formField {
  width: 100%;
  @include media.media-s {
    margin-bottom: 1rem;
  }
}

.formFieldLabel {
  width: 100%;

  @include media.media-s {
    margin-bottom: 1rem;
  }
  @include media.media-xs {
    & div {
      margin-top: 8px;
    }
  }
}

.mentorshipButton {
  margin-top: 1.6rem;
}

.center {
  text-align: center;
}

.message {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 0.5rem;
  }
}

.errorMessage {
  @include fonts.mainText($color: colors.$error);

  &::before {
    background: url('/images/Icon/error.svg') no-repeat center center / cover;
  }
}

.successMessage {
  @include fonts.mainText($color: colors.$success);

  &::before {
    background: url('/images/Icon/success.svg') no-repeat center center / cover;
  }
}

.loadingMessage {
  @include fonts.mainText($color: colors.$warning);

  &::before {
    background: url('/images/Icon/warning.svg') no-repeat center center / cover;
  }
}
